{{!--
<link rel="stylesheet" href="/assets/css/style.css"> --}}
<link rel="stylesheet" href="/assets/css/skins/skin-demo-4.css">
<link rel="stylesheet" href="/assets/css/demos/demo-4.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
  
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
  
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
  
    <style>
        h1 {
            color: #3C8E3D;
        }
  
        .block {
            display: none;
            font-size: 20px;
        }
  
        #load {
            font-size: 20px;
            color: green;
        }
    </style>


<div class="page-wrapper">

    <main class="main">
        <div class="intro-slider-container mb-5">
            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                {{#each banner}}
                {{!-- <div class="img-fluid"> --}}
                    <div class="intro-slide" style="background-image: url(/images/banner-images/{{this.img.[0]}}); ">
                        {{!-- </div> --}}
                    <div class="container intro-content">
                        <div class="row justify-content-end">

                            {{!-- <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                <h3 class="intro-subtitle text-third">Deals and Promotions</h3>
                                <!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">Beats by</h1>
                                <h1 class="intro-title">Dre Studio 3</h1><!-- End .intro-title -->

                                <div class="intro-price">
                                    <sup class="intro-old-price">$349,95</sup>
                                    <span class="text-third">
                                        $279<sup>.99</sup>
                                    </span>
                                </div><!-- End .intro-price -->

                                <a href="category.html" class="btn btn-primary btn-round">
                                    <span>Shop More</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-lg-11 offset-lg-1 --> --}}

                        </div><!-- End .row -->
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->
                {{/each}}

            </div><!-- End .intro-slider owl-carousel owl-simple -->

            <span class="slider-loader"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="container ">
            <h2 class="title text-center mb-4">Explore Brands</h2><!-- End .title text-center -->

            <div class="cat-blocks-container" style="overflow: hidden;">
                <div class="d-flex"
                    style="margin-bottom: -50px; /* maximum width of scrollbar */ padding-bottom: 50px; /* maximum width of scrollbar */ overflow-x: scroll;">

                    {{#each brand}}
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="/product-list?page=1" class="cat-block">
                            <figure>
                                <span>
                                    <img style="width: 80px; height: 100px;" src="/images/brand-images/{{this.img.[0]}}"
                                        alt="Brand image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">{{this.name}}</h3><!-- End .cat-block-title -->
                        </a>
                    </div><!-- End .col-sm-4 col-lg-2 -->
                    {{/each}}

                </div><!-- End .row -->
            </div><!-- End .cat-blocks-container -->
        </div><!-- End .container -->

        <div class="mb-4"></div><!-- End .mb-4 -->
        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="mb-3"></div><!-- End .mb-5 -->





        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container">
            <hr class="mb-0">
        </div><!-- End .container -->

        <div class="mb-5"></div><!-- End .mb-5 -->

        <div class="container for-you">
            <div class="heading heading-flex mb-3">
                <div class="heading-left">
                    <h2 class="title">Products</h2><!-- End .title -->
                </div><!-- End .heading-left -->

            </div><!-- End .heading -->

            <div style="word-break: break-all;" class="products ">
                <div class="container-fluid">
                    <div class="row ">

                        {{#each products}}
                        <div class="block col-6 col-md-4 col-lg-3">

                            <div class="product product-2">
                                <figure class="product-media ">
                                    {{!-- <span class="product-label label-circle label-sale">Sale</span> --}}
                                    <div class="container-fluid">
                                        <a href="/view-product/{{this._id}}">
                                            <img src="/images/product-images/{{this.img.[0]}}" alt="img"
                                                class="product-image">
                                        </a>
                                    </div>

                                    <div>
                                        <div class="product-action-vertical">
                                            <a onclick="addToWishList('{{this._id}}')" style="cursor: pointer;"
                                                class="btn-product-icon btn-wishlist text-danger"
                                                title="Add to wishlist"></a>


                                            {{!-- {{#wishlistHeartIcon this._id ../wishlist}}
                                            <i onclick="removeWishList('{{../this._id}}')" id="removeHeartIcon{{../this._id}}"
                                                class="removeHeartIcon{{../this._id}} bi bi-heart-fill text-danger" style="cursor: pointer;"
                                                title="Remove from wishlist"></i>
                                            {{else}}
                                            <i onclick="addToWishList('{{../this._id}}')" id="addHeartIcon{{../this._id}}"
                                                class="addHeartIcon{{../this._id}} bi bi-heart" style="cursor: pointer;"
                                                title="Add to wishlist"></i>
                                            {{/wishlistHeartIcon}} --}}

                                            {{!-- <button onclick="addToWishList('{{this._id}}')"
                                                class="btn-product-icon btn-wishlist text-danger"
                                                title="Add to wishlist"></button> --}}

                                        </div><!-- End .product-action -->
                                    </div>

                                    <div class="product-action">


                                        {{#if ../vUser}}
                                        <!-- if -->

                                        {{#addedToCartCheck this._id ../cart}}
                                        <a id="goToCart{{../this._id}}" href="/cart" style="cursor: grab;"
                                            class="border-0 btn-product btn-cart text-primary">Go to Cart</a>
                                        {{else}}
                                        {{#ifEquals ../this.stock 0 true}}
                                        <button style="cursor: not-allowed;"
                                            class="border-0 btn-product text-danger">Out of Stock</button>
                                        {{else}}
                                        <button id="cart{{../../this._id}}" onclick="addToCart('{{../../this._id}}')"
                                            class="border-0 btn-product btn-cart text-success">Add to Cart</button>
                                        {{/ifEquals}}
                                        {{/addedToCartCheck}}

                                        {{else}}
                                        <!-- else -->

                                        {{#guestUserCartCheck this._id ../guestUserCart}}
                                        <a id="goToCart{{../this._id}}" href="/cart" style="cursor: grab;"
                                            class="border-0 btn-product btn-cart text-primary">Go to Cart</a>
                                        {{else}}
                                        {{#ifEquals ../this.stock 0 true}}
                                        <button style="cursor: not-allowed;"
                                            class="border-0 btn-product text-danger">Out of Stock</button>
                                        {{else}}
                                        <button id="cart{{../../this._id}}" onclick="addToCart('{{../../this._id}}')"
                                            class="border-0 btn-product btn-cart text-success">Add to Cart</button>
                                        {{/ifEquals}}
                                        {{/guestUserCartCheck}}

                                        {{/if}}
                                        <!-- /if -->



                                    </div><!-- End .product-action -->

                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    {{!-- <div class="product-cat">
                                        <a href="#">{{this.category}}</a>
                                    </div><!-- End .product-cat --> --}}
                                    <h3 class="product-title">{{this.name}}</h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span style="color: black;" class=""> ₹{{this.priceAfterDiscount}}</span>
                                        <span style=" text-decoration: line-through; font-size: 13px; color: gray;"
                                            class="ml-2">₹{{this.price}}</span>
                                        <span style="color: green; font-size: 15px;" class="ml-2">{{this.discountOff}}%
                                            off</span>

                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 100%;"></div>
                                            <!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->

                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                        {{/each}}


                    </div><!-- End .row -->
    <div class="text-center " style="cursor: pointer;" id="load"> <b class=""> Load More... </b></div>

                </div>
            </div><!-- End .products -->
        </div><!-- End .container -->

        <div class="container">
            <hr class="mb-0">
        </div><!-- End .container -->
        <div class="mb-4"></div><!-- End .mb-4 -->


        <div class="container new-arrivals">
            <div class="heading heading-flex mb-3">
                <div class="heading-left">
                    <h2 class="title">Recommendation For You</h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab"
                                role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-tv-link" data-toggle="tab" href="#new-tv-tab" role="tab"
                                aria-controls="new-tv-tab" aria-selected="false">smart phones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-computers-link" data-toggle="tab" href="#new-computers-tab"
                                role="tab" aria-controls="new-computers-tab" aria-selected="false">feature phones</a>
                        </li>

                    </ul>
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel just-action-icons-sm">
                <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel"
                    aria-labelledby="new-all-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                        {{#each products}}
                        {{#if this.status}}
                        <div class="product product-2">
                            <figure class="product-media ">
                                {{!-- <span class="product-label label-circle label-top">Top</span> --}}
                                <div class="justify-content-center">
                                    <a href="/view-product/{{this._id}}">
                                        <img
                                            src="/images/product-images/{{this.img.[0]}}" alt="Product image"
                                            class="product-image">
                                    </a>
                                </div>
                                <div class="product-action-vertical">
                                    {{!-- <a onclick="addToWishList('{{this._id}}')"
                                        class="btn-product-icon btn-wishlist text-danger" title="Add to wishlist"></a>
                                    --}}
                                    <button onclick="addToWishList('{{this._id}}')"
                                        class="btn-product-icon btn-wishlist text-danger"
                                        title="Add to wishlist"></button>

                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    {{!-- <a href="/add-to-cart/{{this._id}}" class="btn-product btn-cart text-success"
                                        title="Add to cart"><span>add to cart</span>Add to cart</a> --}}
                                    <button id="cart{{this._id}}" onclick="addToCart('{{this._id}}')"
                                        class="border-0 btn-product btn-cart text-success">Add to Cart</button>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->
                            <div class="product-body">
                                {{!-- <div class="product-cat">
                                    <a href="#">{{this.category}}</a>
                                </div><!-- End .product-cat --> --}}
                                <h3 class="product-title">{{this.name}}</h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span style="color: black;" class=""> ₹{{this.priceAfterDiscount}}</span>
                                    <span style=" text-decoration: line-through; font-size: 15px; color: gray;"
                                        class="ml-2">₹{{this.price}}</span>
                                    <span style="color: green; font-size: 15px;" class="ml-2">{{this.discountOff}}%
                                        off</span>

                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        {{/if}}
                        {{/each}}

                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->

                <div class="tab-pane p-0 fade" id="new-tv-tab" role="tabpanel" aria-labelledby="new-tv-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                        <div class="product product-2">
                            <figure class="product-media">
                                <span class="product-label label-circle label-new">New</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-4/products/product-3.jpg" alt="Product image"
                                        class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to
                                            cart</span></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview"
                                        title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Tablets</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Apple - 11 Inch iPad Pro with Wi-Fi
                                        256GB </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $899.99
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" style="background: #edd2c8;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #eaeaec;"><span class="sr-only">Color name</span></a>
                                    <a href="#" class="active" style="background: #333333;"><span class="sr-only">Color
                                            name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->


                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="new-computers-tab" role="tabpanel"
                    aria-labelledby="new-computers-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                        <div class="product product-2">
                            <figure class="product-media">
                                <span class="product-label label-circle label-top">Top</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-4/products/product-5.jpg" alt="Product image"
                                        class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to
                                            cart</span></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview"
                                        title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">TV & Home Theater</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Samsung - 55" Class LED 2160p Smart</a>
                                </h3><!-- End .product-title -->
                                <div class="product-price">
                                    $899.99
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 5 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->

            </div><!-- End .tab-content -->
        </div><!-- End .container -->

        <div class="container">
            <hr class="mb-0">
        </div><!-- End .container -->

        <div class="icon-boxes-container bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rocket"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>Orders $50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                <p>Within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-info-circle"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                <p>when you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->
    </main><!-- End .main -->

    <script src="/assets/js/jquery.min.js"></script>
    {{!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> --}}

    <script src="/javascripts/script.js"></script>
    <script src="../../helpers/hbs-helpers.js"></script>

    <script>
        $(document).ready(function () {
            let limit = 4;
            $(".block").slice(0, limit).show();
            if ($(".block:hidden").length != 0) {
                $("#load").show();
            }
            $("#load").on("click", function (e) {
                e.preventDefault();
                $(".block:hidden").slice(0, limit).slideDown();
                if ($(".block:hidden").length == 0) {
                    $("#load").text("No More to view")
                        .fadOut("slow");
                }
            });
        })
    </script>