<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8"
  src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>


<section style="margin-left: 10px;">
  <div class="container">
    <div class="table-responsive">

      <table class="table" id="usersTable">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Date</th>
            {{!-- <th scope="col">User</th> --}}
            <th scope="col">Total Amount</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <td style="font-size: 15px;">
            </td>
            <td>
              <p>{{this.date}}</p>
            </td>
            {{!-- <td>
              <p>{{this.deliveryDetails.firstName}}</p>
            </td> --}}
            <td>
              <p>
              {{#if this.totalPriceAfterOffer}}
                <span style=" margin-left: 4px; font-size: 18px; color: black;">₹{{this.totalPriceAfterOffer}}</span>
                <span style=" text-decoration: line-through; ">₹ {{this.totalAmount}}</span><br>
                <span style="font-size: 12px; color: green;  margin-left: 4px;">₹{{this.discountedPrice}} Saved</span>
              {{else}}
                <span style="font-size: 18px; color: black;">₹ {{this.totalAmount}}</span>
                <span style=" text-decoration: line-through;">₹{{this.totalPrice}}</span> <br>
                <span style="font-size: 13px; color: green;  margin-left: 4px;">₹{{this.totalDiscount}} Saved</span>

              {{/if}}
                </p>
            </td>
            <td>
              <p>{{this.paymentMethod}}</p>
            </td>
            <td>
              <p>{{this.status}}</p>
            </td>
            <td>
              <p class="btn"><a href="/view-order-products/{{this._id}}">view products</a></p>
            </td>

            {{#ifEquals this.status 'cancelled' true}}
            <td></td>
            {{/ifEquals}}

            {{#ifEquals this.status 'placed' true}}
            <td id="cancel"><a style="color: white; text-decoration: none;" href="/order-cancel/{{../this._id}}"
                onclick="return confirm('do you want to cancel the order')"><button class="btn btn-danger">Cancel
                  Order</button></a>
            </td>
            {{/ifEquals}}


            {{#ifEquals this.status 'pending' true}}
            <td><a href="/order-cancel/{{../this._id}}" onclick="return confirm('do you want to cancel the order')"><button
                  class="btn btn-danger">Cancel
                  Order</button></a>
            </td>
            {{/ifEquals}}

            {{#ifEquals this.status 'return request' true}}
            <td><p>Order return request sent</p></td>
            {{/ifEquals}}

            {{#ifEquals this.status 'shipped' true}}
            <td><a href="/order-cancel/{{../this._id}}" onclick="return confirm('do you want to cancel the order')"><button
                  class="btn btn-danger">Cancel
                  Order</button></a>
            </td>
            {{/ifEquals}}

            {{#ifEquals this.status 'return approved' true}}
            <td><p class="text-success">Order return request approved</p></td>
            {{/ifEquals}}

            {{#ifEquals this.status 'return rejected' true}}
            <td><p class="text-danger">Order return request rejected</p></td>
            {{/ifEquals}}

            {{!-- {{#ifEquals this.status 'confirm return' false}}
            <td><p >Order return request approved</p></td>
            {{/ifEquals}} --}}

            {{#ifEquals this.status 'delivered' true}}
            <td><a data-mdb-toggle="modal" data-mdb-target="#exampleModal{{../this._id}}" href="/order-return/{{this._id}}"
                ><button class="btn btn-warning">Return
                  Order</button></a>
            {{!-- ///modal/// --}}
            </td>
            <div style="margin-left: 10px;" class="modal fade" id="exampleModal{{../this._id}}" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body ">

                      <h3 class="text-center mt-4">Reason to return</h3>


                      <form action="/return-order" method="POST">
                        
                        <input type="radio" name="reason" value="Accidental order" ><label for="">Accidental order</label> <br>
                        <input type="radio" name="reason" value="Missing parts or Accessories"><label for="">Missing parts or Accessories</label> <br>
                        <input type="radio" name="reason" value="Different from what was ordered"><label for="">Different from what was ordered</label> <br>
                        <input type="radio" name="reason" value="Better Price available"><label for="">Better Price available</label> <br>
                        <input type="radio" name="reason" value="Unauthorized purchase"><label for="">Unauthorized purchase</label> <br>
                        
                        <input hidden type="text" name="orderId" value="{{../this._id}}">
                        <input hidden type="text" name="userId" value="{{../this.userId}}">
                        <input hidden type="text" name="status" value="return request">

                        <button class="mt-3 btn btn-primary btn-lg btn-block" type="submit"
                          >Submit</button>

                      </form>

                    </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-center border-top-0 py-4">

                  </div>
                </div>
              </div>
            </div>
            {{!-- ///modal end/// --}}
            {{/ifEquals}}

          </tr>

          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>


<script>
  var table = document.getElementsByTagName('table')[0],
    rows = table.getElementsByTagName('tr'),
    text = 'textContent' in document ? 'textContent' : 'innerText';

  for (var i = 1, len = rows.length; i < len; i++) {
    rows[i].children[0][text] = i;
  }
</script>

<script>
  $(document).ready(function () {
    $('#usersTable').DataTable();
  });


</script>

<script src="../../helpers/hbs-helpers.js"></script>