<link rel="stylesheet" href="assets/css/style.css">
<style>
	td {
		font-size: 1.5rem;
	}
</style>

<div class="page-wrapper">

	<main class="main">
		<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">Checkout<span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shop</a></li>
					<li class="breadcrumb-item active" aria-current="page">Checkout</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="checkout">
				<div class="container">
					<div class="col-4">
						<form action="/apply-coupon" method="post" id="applyCoupon">
							<label for="coupon">Enter the coupon</label>
							<input type="text" name="code" class="form-control">
							<button id="coupon-button" class="btn btn-success" type="submit">Apply</button>
						</form>
						<div>
							{{applyCouponResult.couponAppliedStatus}}

						</div>
					</div><!-- End .checkout-discount -->

					<form id="checkout-form">
						<div class="row">
							<div class="col-lg-7">
								<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->


								{{#each address}}
								<tr>
									<td>
										<input required checked value="{{this._id}}" type="radio" name="addressId">
										<span
											style="display: inline-block; height: 100px; width: 350px; border: 1px solid green; margin-bottom: 20px; padding: 20px; border-radius: 6px;">
											{{!-- <div class="row"> --}}
												{{this.firstName}} {{this.lastName}}
												{{this.city}} {{this.state}} {{this.country}}
												{{this.address}} {{this.pincode}}
												{{!-- </div> --}}
										</span>
									</td> <br>
								</tr>
								{{/each}}
								{{!-- <input hidden type="text" name="user" value="{{vUser.name}}"> --}}
								<a href="/add-address">Add address</a>
							</div><!-- End .col-lg-9 -->


							<aside class="col-lg-5">
								<div class="summary summary-cart">
									{{!-- <h3 class="summary-title">Cart Total</h3><!-- End .summary-title --> --}}

									<table class="table table-summary">
										<tbody>
											<tr>
												<td>price: </td>
												<td>₹ {{totalPrice}}</td>
												<td style="display: none;">
													<input value="{{totalPrice}}" name="totalPrice" id="totalPrice">
												</td>
											</tr>

											<tr>
												<td>Discount: </td>
												<td style="color: green;">-₹ {{totalDiscount}}</td>
												<td style="display: none;">
													<input value="{{totalDiscount}}" name="totalDiscount"
														id="totalDiscount">
												</td>
											</tr>

											<tr>
												<td>Coupon discounted price: </td>
												{{#if applyCouponResult.discountPrice}}
												<td style="color: green;" id="coupon-success">-₹
													{{applyCouponResult.discountPrice}}</td>
												{{!-- {{applyCouponResult.code}}:
												{{applyCouponResult.couponAppliedStatus}} --}}
												{{else}}
												<td>0</td>
												{{/if}}
												<td style="display: none;">
													<input value="{{applyCouponResult.discountPrice}}"
														name="discountedPrice" id="discountedPrice">
												</td>
											</tr>

											<tr>
												{{!-- {{#if applyCouponResult.couponFind}}
												{{#if applyCouponResult.appliedCoupon}}
												<td></td>
												{{else}}
												<td style="color: green;">{{applyCouponResult.code}}:
													{{applyCouponResult.couponAppliedStatus}}</td>
												{{/if}}
												<td></td>
												{{/if}} --}}

												{{#ifCouponEquals applyCouponResult.couponFind
												applyCouponResult.appliedCoupon applyCouponResult.expiredCoupon false}}

												{{!-- <td style="color: green;">{{applyCouponResult.code}}:
													{{applyCouponResult.couponAppliedStatus}}</td> --}}
												<td style="color: green; font-size: 12px;"> Coupon successfully applied
												</td>
												<td></td>
												{{/ifCouponEquals}}
											</tr>


											<tr class="summary-subtotal">
												<td>Total Payable: </td>
												{{#if applyCouponResult.totalPriceAfterOffer}}
												<td>₹ {{applyCouponResult.totalPriceAfterOffer}}</td>
												{{else}}
												<td>₹ {{totalAmount}}</td>
												{{/if}}
												<td style="display: none;">
													<input value="{{applyCouponResult.totalPriceAfterOffer}}"
														name="totalPriceAfterOffer" id="totalPriceAfterOffer">
												</td>
											</tr>

											<tr class="summary-shipping">
												<td>Shipping:</td>
												<td>&nbsp;</td>
											</tr>

											<tr class="summary-shipping-row">
												<td>
													{{!-- <div class="custom-control custom-radio"> --}}
														<input type="radio" id="paymentMethod" name="paymentMethod"
															value="COD" checked>
														<label for="free-shipping">Cash on
															Delivery</label>
														{{!--
													</div><!-- End .custom-control --> --}}
												</td>
												<td></td>
											</tr><!-- End .summary-shipping-row -->

											<tr class="summary-shipping-row">
												<td>

													{{!-- <div class="custom-control custom-radio"> --}}
														<input type="radio" id="standart-shipping" name="paymentMethod"
															value="UPI">
														<label for="standart-shipping">Razor-Pay</label>
														{{!--
													</div><!-- End .custom-control --> --}}
												</td>
												<td></td>
											</tr><!-- End .summary-shipping-row -->

											<tr class="summary-shipping-row">
												<td>
													{{!-- <div class="custom-control custom-radio"> --}}
														<input type="radio" id="standart-shipping" name="paymentMethod"
															value="paypal">
														<label for="standart-shipping">Pay-Pal</label>
														{{!--
													</div><!-- End .custom-control --> --}}
												</td>
												<td></td>
											</tr><!-- End .summary-shipping-row -->

											<tr class="summary-shipping-row">
												<td>
													{{!-- <div class="custom-control custom-radio"> --}}
														<input type="radio" id="standart-shipping" name="paymentMethod"
															value="wallet">
														<label for="standart-shipping">Wallet</label>
														{{#if walletError}}
														<p class="text-danger">{{walletError}}</p>
														{{/if}}
														{{!--
													</div><!-- End .custom-control --> --}}
												</td>
												<td></td>

											</tr><!-- End .summary-shipping-row -->
											{{!-- <tr class="summary-total">
												<td>Total:</td>
												{{#if couponPrice}}
												<td><span id="total">{{totalPrice}}</span></td>
												{{else}}
												<td><span id="total">{{totalPrice}}</span></td>
												{{/if}}
											</tr><!-- End .summary-total --> --}}
											{{!-- <input readonly type="text" id="discountedPrice"> --}}
										</tbody>
									</table><!-- End .table table-summary -->
									{{#if address}}
									<button type="submit"
										class="btn btn-outline-primary-2 btn-order btn-block">Checkout</button>
									{{else}}
									<p class="text-center text-danger">please add address</p>
									{{/if}}

								</div><!-- End .summary -->

							</aside><!-- End .col-lg-3 -->
						</div><!-- End .row -->
						<input hidden type="text" name="userId" id="" value="{{vUser._id}}">
					</form>
					{{!-- <a href="/search-product" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
							SHOPPING</span><i class="icon-refresh"></i></a> --}}


				</div><!-- End .container -->
			</div><!-- End .checkout -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->


</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>



</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->
{{!-- <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li> --}}

<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="icon-close"></i></span>
				</button>

				<div class="form-box">
					<p class="text-center">Order placed successfully</p>
				</div><!-- End .form-box -->
			</div><!-- End .modal-body -->
		</div><!-- End .modal-content -->
	</div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>

{{!--
<script src="https://checkout.razorpay.com/v1/checkout.js"></script> --}}

<script>
	$("#checkout-form").submit((e) => {
		e.preventDefault();
		$.ajax({
			url: '/place-order',
			method: 'post',
			data: $('#checkout-form').serialize(),
			success: (response) => {
				console.log("**********************************")
				console.log(response)
				console.log("**********************************")

				if (response.codSuccess) {
					location.href = '/order-success'
				} else if (response.wallet) {
					location.href = '/order-success'
				} else if (response.walletError) {
					location.href = '/place-order'
				} else if (response.paypal) {
					console.log(response)
					location.href = '/pay/' + response.orderId
				} else {
					console.log("--------------------------")
					console.log(response)
					console.log("--------------------------")
					razorPayment(response)
				}
			}
		})
	})


	function razorPayment(order) {
		var options = {
			"key": "rzp_test_1rfHINK2JpzSyO", // Enter the Key ID generated from the Dashboard
			"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "MobHome",
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {

				verifyPayment(response, order)
			},
			"prefill": {
				"name": "Gaurav Kumar",
				"email": "gaurav.kumar@example.com",
				"contact": "9999999999"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		rzp1.open()
	}
	function verifyPayment(payment, order) {
		$.ajax({
			url: '/verify-payment',
			data: {
				payment,
				order
			},
			method: 'post',
			success: (response) => {
				if (response.status) {
					location.href = '/order-success'
				} else {
					alert("payment failed")
				}
			}
		})
	}

//	$("#apply-coupon").submit((e) => {
//		e.preventDefault();
//		$.ajax({
//			url: '/apply-coupon',
//			method: 'post',
//			data: $('#apply-coupon').serialize(),
//			success: (response) => {
//				console.log('coupon applied')
//				
//				document.getElementById('discountedPrice').value= response.totalPriceAfterOffer
//				console.log(response.totalPriceAfterOffer)
//			}
//		})
//	})

//document.getElementById("applyCoupon").addEventListener("click", function(event){
//  event.preventDefault()
//  res.json()
//});
</script>
<script src="../../helpers/hbs-helpers.js"></script>

<script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID&components=YOUR_COMPONENTS"></script>

<script>
//	$("#coupon-button").click(function (e) {
//		Swal.fire({
//			// position: 'top-end',
//			icon: 'success',
//			title: 'Item added to cart',
//			showConfirmButton: false,
//			timer: 1500
//		})
//	});
</script>