<div>
    <div class="page-wrapper">

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">wishlist<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="toolbox">
                                <div class="toolbox-left">

                                </div><!-- End .toolbox-left -->

                                <div class="toolbox-right">


                                </div><!-- End .toolbox-right -->
                            </div><!-- End .toolbox -->

                                {{#each items}}
                            <div id="wishlist{{this.products.item}}" class="products mb-3">

                                <div class="text-end">
                                    <i style="cursor: pointer;" onclick="removeWishList('{{this.products.item}}')" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                                </i>
                                </div>
                                <div class="product product-list">
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">
                                                {{!-- <span class="product-label label-new">New</span> --}}
                                                <a href="/view-product/{{this.items._id}}">
                                                    <img src="/images/product-images/{{this.items.img.[2]}}"
                                                        alt="Product image" class="product-image">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            <div class="product-list-action">
                                                <div class="product-price">
                                                    {{this.items.price}}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                {{!-- <a href="/add-to-cart/{{this.products.item}}" 
                                                    class="btn-product btn-cart"><span>add to cart</span></a> --}}
                                                <a class="btn-product btn-cart" id="cart{{this.products.item}}" style="cursor: pointer;" onclick="addToCart('{{this.products.item}}')">Add to cart</a>

                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">
                                                {{!-- <a href="#" class="btn-product btn-wishlist"
                                                    title="Add to wishlist"><span>add to wishlist</span></a> --}}
                                                <div class="product-cat">
                                                    {{!-- <a href="#">Women</a> --}}
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">{{this.items.name}}</a>
                                                </h3><!-- End .product-title -->

                                                <div class="product-content">
                                                    {{!-- <p>{{this.item.description}} </p> --}}
                                                </div><!-- End .product-content -->

                                                <div class="product-nav product-nav-thumbs">
                                                    <a href="#" class="active">
                                                        <img src="/images/product-images/{{this.items.img.[1]}}" alt="">
                                                    </a>
                                                    <a href="#">
                                                        <img src="/images/product-images/{{this.items.img.[2]}}" alt="">
                                                    </a>
                                                    <a href="#">
                                                        <img src="/images/product-images/{{this.items.img.[3]}}" alt="">
                                                    </a>
                                                </div><!-- End .product-nav -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .product -->
                            </div><!-- End .products -->
                                {{/each}}



                        </div><!-- End .col-lg-9 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <script src="/assets/js/jquery.min.js"></script>

    <script src="/javascripts/script.js"></script>

